body {
  margin:0;
  padding:0;
  font:20px/20px sans-serif;
}

#error {
  padding:5px;
  background:#d94a38;
  display:none;
  position:absolute;
  top:0;
  right:0;
  color:#fff;
  z-index:9999;
}

.editor {
  position:absolute;
  top:0;
  left:0;
  right:0%;
  bottom:0;
}

.data {
  background:#000;
  border-bottom:1px solid #555;
  border-top:1px solid #555;
  color:#fff;
  position:relative;
  padding:12px 5px 5px 5px;
  margin:5px 0;
}

.data-name {
  position:absolute;
  font-size:12px;
  top:0;
  right:0;
  color:yellow;
  background:black;
  z-index:9999;
}

.CodeMirror {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  overflow:auto;
  height:auto;
}
